#team-table {
    min-width: 1250px;
}

.team-th-seq {
    width: 80px;
}

.team-th-rank {
    width: 110px;
}

.team-th-rank-name {
    width: 100px;
}

.team-th-name {
    width: 115px;
}

.team-th-birthday {
    width: 145px;
}

.team-th-phone {
    width: 170px;
}

.team-th-mail {
    width: 180px;
}

.team-th-main-group {
    width: 175px;
}