<div class="modal fade" id="bordered-contest-change">
  <div class="modal modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">회차변경</h5>
      </div>

      <div class="modal-body">

        <form>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">회차선택</label>
            <div class="col-sm-8">
              <select class="form-select" id="contestNumSelect">
              </select>
            </div>
          </div>

        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary delete" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="change">변경</button>
        </div>

      </div>
    </div>
  </div>
</div>

