<!-- 비밀번호 초기화 -->
<div class="modal fade" id="bordered-modify-date">
  <div class="modal modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">접수기간변경</h5>
      </div>

      <div class="modal-body">

        <form>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label" id="start">시작일</label>
            <div class="col-sm-8">
              <input type="datetime-local" class="form-control" id="startDate" max="9999-12-31">
            </div>
          </div>


          <div class="row mb-3">
            <label class="col-sm-4 col-form-label" id="end">종료일</label>
            <div class="col-sm-8">
              <input type="datetime-local" class="form-control" id="endDate" max="9999-12-31">
            </div>
          </div>

        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary delete" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="submit">저장</button>
        </div>

      </div>
    </div>
  </div>
</div>

