<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="common/include/include-meta"/>
  <!--  <th:block th:include="/common/include/csrf"/>-->
  <title>해커톤평가체계</title>
  <th:block th:include="common/include/include-link"/>
  <link rel="stylesheet" th:href="@{/css/participant/application.css}">
</head>
<body>
  <header th:replace="common/layout/participant-header"></header>
  <div th:replace="common/loading"></div>
  <div class="mypage-padding-container">
    <div class="container pb-4 mt-5" id="print-area">
      <p class="text-center my-5 fs-3 fw-bold">
        제 <span th:text="${currentContestNum}">0</span>회 공군 『창의·혁신 아이디어 공모』 해커톤
      </p>
      <p class="location my-5">
        참가자
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
        </svg>
        <span style="color: #004abf">지원서조회</span>
      </p>
      <div class="row mt-4">
        <div class="col-6 px-md-5 d-flex align-items-center">
          <button type="button" class="btn btn-danger float-start" onclick="deleteApplication()">지원서 삭제</button>
        </div>
        <div class="col-6 px-md-5">
          <button type="button" class="btn btn-primary float-end" onclick="printApplication()">지원서 출력</button>
        </div>
      </div>
      <form id="application-form" >
        <!--    이름 & 비밀번호 등 선택 section    -->
        <div th:replace="participant/mypage/layout/basicInfo"></div>
        <!--  팀원정보 입력 섹션    -->
        <div th:replace="participant/mypage/layout/teamInfo"></div>
        <!--  신청서 섹션  -->
        <div th:replace="participant/mypage/layout/applicationInfo"></div>
      </form>
    </div>
  </div>
  <footer th:replace="common/layout/footer"></footer>
  <th:block th:include="common/include/include-script"/>
  <script th:src="@{/js/mypage.js}"></script>
</body>
</html>