<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="common/include/include-meta"/>
  <!--  <th:block th:include="/common/include/csrf"/>-->
  <title>해커톤평가체계</title>
  <th:block th:include="common/include/include-link"/>
  <link rel="stylesheet" th:href="@{/css/participant/application.css}">
</head>
<body>
  <header th:replace="common/layout/participant-header"></header>
  <input id="initPasswordCheck" type="hidden" th:value="${initPassword}">
  <div th:replace="common/loading"></div>
  <div class="mypage-padding-container">
    <div class="container pb-4 mt-5">
      <p class="text-center my-5 fs-3 fw-bold">
        제 <span th:text="${currentContestNum}">0</span>회 공군 『창의·혁신 아이디어 공모』 해커톤
      </p>
      <p class="location my-5">
        참가자
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
        </svg>
        <span style="color: #004abf">지원서수정</span>
      </p>

      <div class="row mt-4">
        <div class="col-6 px-md-5 d-flex align-items-center"></div>
        <div class="col-6 px-md-5">
          <!--  비밀번호 변경   -->
          <!-- Button trigger modal -->
          <button id="changePasswordButton" type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
            비밀번호변경
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <form id="change-password-form" class="w-100">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fw-bold" id="exampleModalLabel">비밀번호변경</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 position-relative">
                      <label for="change-password" class="col-form-label fw-bold">변경비밀번호  <span class="text-danger">*</span></label>
                      <input type="password" class="form-control" id="change-password" name="changePassword"
                             placeholder="영문/숫자/특수기호 포함 9자~20자">
                      <span id="change-password-invalid-feedback" class="invalid-tooltip"></span>
                    </div>
                    <div class="mb-3 position-relative">
                      <label for="change-password-check" class="col-form-label fw-bold">변경비밀번호 확인<span class="text-danger">*</span></label>
                      <input type="password" class="form-control" id="change-password-check" name="changePasswordCheck"
                             placeholder="영문/숫자/특수기호 포함 9자~20자">
                      <span id="change-password-check-invalid-feedback" class="invalid-tooltip"></span>
                    </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" onclick="changePasswordHandler(event)" value="변경하기">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <form id="application-form" class="needs-validation">
        <!--    이름 & 비밀번호 등 선택 section    -->
        <div th:replace="participant/mypage/layout/edit/basicInfo"></div>
        <!--  팀원정보 입력 섹션    -->
        <div th:replace="participant/mypage/layout/edit/teamInfo"></div>
        <!--  신청서 섹션  -->
        <div th:replace="participant/mypage/layout/edit/applicationInfo"></div>
      </form>
    </div>
  </div>
  <footer th:replace="common/layout/footer"></footer>
  <th:block th:include="common/include/include-script"/>
  <script th:src="@{/js/application-edit.js}"></script>
  <script th:src="@{/js/mypage.js}"></script>
  <script th:src="@{/js/change-password.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      $('#contest-field').on("change", function(){

        const text = $("option:selected", this).text();
        const data = text.substring(text.indexOf(' ') + 1);

        $(this).tooltip('hide');

        if(data.length > 0) {
          $(this).attr('data-bs-original-title', data);
        }

        $(this).tooltip('show');
      });
    });
  </script>
  <style>
    .tooltip-inner {
      max-width: 400px;
    }
  </style>
</body>
</html>