34<div th:replace="admin/sideNav.html"></div>

<main id="main" class="main" style="padding-top:0">

  <div class="pagetitle">
    <h1>상세정보
      <button type="button" class="btn btn-outline-dark" id="move" onclick="location.href='/alr20/admin/application/status';"><i class="fa fa-arrow-down"></i>목록이동</button>
    </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/main}"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item"><a th:href="@{status}">접수현황</a></li>
        <li class="breadcrumb-item active">상세정보</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <!--    변경 필요   -->
          <h5 class="card-title"><div th:text ="${teamName}" style="float:left;"></div> <span th:text ="${contestField}"></span></h5>

          <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#bordered-overview" type="button" role="tab" aira-controls="overview" selected="true">개요</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="application-tab" data-bs-toggle="tab" data-bs-target="#bordered-application" type="button" role="tab" aira-controls="application" selected="false">제출자료</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#bordered-team" type="button" role="tab" aira-controls="team" selected="false">팀원정보</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="password-tab" data-bs-toggle="modal" data-bs-target="#bordered-password" type="button" role="tab" aira-controls="password" selected="false">비밀번호 초기화</button>
            </li>
          </ul>

          <div class="tab-content pt-2">

            <!--     개요       -->
            <div th:replace="admin/application/status/overview.html"></div>

            <!--     제출자료       -->
            <div th:replace="admin/application/status/application.html"></div>

            <!--     팀원정보       -->
            <div th:replace="admin/application/status/team.html"></div>

            <!--     비밀번호 초기화 (modal)    -->
            <div th:replace="admin/application/status/password.html"></div>

          </div>

        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

<div th:replace="admin/footer.html"></div>

<style>
  .card-title span {
    margin-left : 1rem;
  }

  #move{
    float:right;
  }

  #move svg{
    margin-right : 0.25rem;
  }
</style>