<div th:replace="admin/sideNav.html"></div>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>접수현황</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/main}"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item active">접수현황</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body" style="margin-top: 1.5rem;">
          <table id="team" class="table table-hover text-break" style="width:100%">
            <thead>
            <tr>
              <th>분야</th>
              <th>팀명</th>
              <th>프로젝트명</th>
              <th>팀장신분</th>
              <th>총원</th>
              <th class="no-sort">상세정보</th>
            </tr>
            </thead>
          </table>

        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

<div th:replace="admin/footer.html"></div>

<script th:inline="javascript">
  $(document).ready(function() {

    //분야 필터링용, 초기값 전체 검색
    const addData = { findBy : "all" };

    //btn-primary 적용
    $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn';

    let table = $('#team').DataTable( {
      dom: 'B<"#select">frtp',
      "info": false,
      "lengthMenu": false,
      "lengthChange": false,
      "language": {
        "lengthMenu": "",
        "search": "팀명검색 :",
        "info": "",
        "paginate": {
          "first": "처음",
          "last": "마지막",
          "next": "다음",
          "previous": "이전"
        },
        "zeroRecords": "데이터가 없습니다"
      },
      "pagingType": "full_numbers",
      "searchDelay": 500,
      "serverSide": true,
      "processing": true,
      "bSort": true,
      "ajax": {
        "url": "/alr20/admin/teamSearch",
        "type": "POST",
        "dataType": "json",
        "contentType": "application/json; charset=utf-8",
        "data":
                function (d) {
                  return JSON.stringify($.extend( {} , d, addData));
                },
        "dataFilter":
                function (response) {

                  if(JSON.parse(response).recordsTotal == 0 ){
                    $('.excel').attr("disabled", true);
                    $('.download').attr("disabled", true);
                  }

                  if(JSON.parse(response).recordsFiltered == 0){
                    $('.download').attr("disabled", true);
                  } else {
                    $('.download').attr("disabled", false);
                  }
                  
                  return response;
                }
      },

      "columns": [
        {"data" : "contestFieldString",
          "render" : $.fn.dataTable.render.text(),
          "width": "14%"},
        {"data" : "name",
          "render" : $.fn.dataTable.render.text()},
        {"data" : "projectName",
          "render" : $.fn.dataTable.render.text(),
          "width": "24%"},
        {"data" : "memberRankString",
          "render" : $.fn.dataTable.render.text()},
        {"data" : "memberCount",
          "render" : $.fn.dataTable.render.text()},
        {
          "data": null,
          "render": function(data, type, row){
            return '<button type="button" class="btn btn-outline-primary"><i class="fa fa-info-circle"></i>상세보기</button>';
          },
          "width": "14%"
        }
      ],

      "preDrawCallback": function(){
        $('.btn-group').removeClass('btn-group');
      },

      columnDefs:[{
        bSortable: false, targets: 'no-sort'
      }],

      buttons: [
        {
          text: '<i class="fa fa-plus"></i>추가',
          className: 'btn btn-primary',
          action: function (e, dt, node, config) {
            window.location = '/alr20/application'
          }
        },
        {
          text: '<i class="fa fa-trash"></i>삭제',
          className: 'btn btn-danger disabled',
          attr: {
            id : 'delete'
          }
        },
        {
          text: '<i class="fa fa-table"></i>EXCEL',
          className: 'btn btn-success excel',
          action: function(){
            window.location = '/alr20/admin/download/applicationExcel'
          }
        },
        {
          text: '<i class="fa fa-download"></i>지원서 전체 다운로드',
          className: 'btn btn-warning download',
          action: function( e, dt, node, config) {

            const value = $("#contestFilter option:selected").val();

            window.location = '/alr20/admin/download/status/' + value;
          }
        }
      ],
    });

    $('#team tbody').on( 'click', 'button', function (e) {
      e.preventDefault();
      table.rows( '.selected' ).nodes().to$().removeClass( 'selected' );
      const data = table.row( $(this).parents('tr') ).data();
      window.location.href = "/alr20/admin/application/" + Object.values(data)[0];
    } );

    $('#team tbody').on( 'click', 'tr', function() {

      $(this).toggleClass('selected');

      if ( $('#team tbody tr').hasClass('selected') ) {
        $('#delete').removeClass("disabled");
      }
      else {
        $('#delete').addClass("disabled");
      }

    });

    $('#delete').click( function() {

      const result = confirm(table.rows('.selected').data().length + "개의 지원서를 삭제하시겠습니까?");

      let arr = [];
      $.each(table.rows('.selected').data(), function() {
        arr.push(this["name"]);
      });

      const data = JSON.stringify({"name" : arr})

      if(result) {

        $.ajax({
          url: '/alr20/admin/team/delete',
          method: 'POST',
          data: data,
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function(res) {
            table.rows( '.selected' ).remove().draw(false);
            alert(res.message);
          },
          error: function(res) {
            alert(res.responseJSON.message);
          }
        });
      } else {
        $('#delete').addClass("disabled");
        table.rows( '.selected' ).nodes().to$().removeClass( 'selected' );
      }
    });

    let addOption = "";

    /*[# th:each="contestFieldType : ${contestFieldType}"]*/
        addOption += "<option value = \"" + [[${contestFieldType.key}]] + "\" >" + [[${contestFieldType.value}]] + "</option>";
    /*[/]*/

    $("#select").html('<select id="contestFilter" class="form-select form-select-sm" >' +
            '<option value="all">전체</option>' +
            addOption +
            '</select>');

    $('select').on( 'change', function() {
      const value = $("#contestFilter option:selected").val();

      addData.findBy = value;

      table.ajax.reload();
    });

  });

</script>

<style>
  .btn-warning *{
    color: #fff;
  }

  tr.selected td{
    background-color: #a6c9ff;
  }

  .pagination {
    justify-content : center !important;
  }

  #select {
    float: right;
    margin-left: 1rem;
  }

  tr > td:last-of-type {
    text-align: center;
  }

</style>