.evaluation-content-container {
    padding-top: 2.5rem;
    height: auto;
    max-width: 66.8rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#evaluation-table {
    min-width: 650px;
}

@media screen and (max-width:600px) {
    .evaluation-content-container {
        padding-top: 0;
    }

    .info-item {
        border-right: none !important;
        margin: 0.5rem auto !important;
    }
}