<div th:replace="admin/sideNav.html"></div>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>관리자 계정관리</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/main}"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item active">관리자 계정관리</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body" style="margin-top: 1.5rem;">
          <table id="account" class="table table-hover text-break" style="width:100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>아이디</th>
                <th>IP</th>
              </tr>
            </thead>
          </table>

        </div>
      </div>
    </div>
  </section>

  <div th:replace="admin/manager/newManager.html"></div>
  <div th:replace="admin/manager/modifyManager.html"></div>

</main><!-- End #main -->

<div th:replace="admin/footer.html"></div>

<script th:inline="javascript">
  $(document).ready(function() {

    //findBySub 본선,예선 / findBy 분야
    const addData = { findBy : "all", findBySub : "all" };

    //btn-primary 적용
    $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn';

    var table = $('#account').DataTable( {
      dom: 'B<"#select">frtp',
      "responsive": true,
      "info": false,
      "lengthMenu": false,
      "lengthChange": false,
      "language": {
        "lengthMenu": "",
<!--        "search": "이름검색 :",-->
        "info": "",
        "paginate": {
          "first": "처음",
          "last": "마지막",
          "next": "다음",
          "previous": "이전"
        },
        "zeroRecords": "데이터가 없습니다"
      },"pagingType": "full_numbers",
      "searchDelay": 500,
      "serverSide": true,
      "processing": true,
      "bSort": true,
      "ajax": {
        "url": "/alr20/admin/managerStatus",
        "type": "POST",
        "dataType": "json",
        "contentType": "application/json; charset=utf-8",
        // 서버 전송 내용
        "data":
                function (d) {
                  return JSON.stringify($.extend( {} , d, addData));
                },
        // 서버 응답
        "dataFilter":
                function (response) {
                  return response;
                }
      },

      "preDrawCallback": function(){
        $('.btn-group').removeClass('btn-group');
      },

      "columns": [
          {"data" : "id",
          "render" : $.fn.dataTable.render.text()},
          {"data" : "userId",
          "render" : $.fn.dataTable.render.text()},
          {"data" : "decodedIpAddress",
          "render" : $.fn.dataTable.render.text()},
      ],

      columnDefs:[{
        bSortable: false, targets: 'no-sort'
      }],

      buttons: [
        {
          text: '<i class="fa fa-plus"></i>추가',
          className: 'btn btn-primary',
          attr: {
            id : 'insert'
          },
          action: function () {
            $('#bordered-new-manager').modal('show');
          }
        },
        {
          text: '<i class="fa fa-trash"></i>삭제',
          className: 'btn btn-danger disabled',
          attr: {
            id : 'delete'
          }
        },
        {
          text: '<i class="fa fa-user-circle"></i>수정',
          className: 'btn btn-warning disabled',
          attr: {
            id : 'modify'
          }
        }
      ],

    });

    //심사위원 계정 추가 시, 심사분야 구분 추가
    $('#submit').click( function() {
    // TODO: validate
      const userId = $('#userId').val();
      let password = $('#userPassword').val();
      let confirmUserPassword = $('#confirmUserPassword').val();
      let allowedIpAddress = $('#allowedIpAddress').val();

      let data = {
        userId : userId,
        password : password,
        passwordCheck : confirmUserPassword,
        allowedIpAddress : allowedIpAddress
      };

      $.ajax({
        url: '/alr20/admin/managerRegister',
        method: 'POST',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function(res) {
          alert(res.message);
          table.ajax.reload();

        },
        error: function(res) {
          alert(res.responseJSON.message);

          $('#bordered-new-manager').modal('hide');
        }
      });

      $('form').each(function() {
        this.reset();
      });


      $('#bordered-new-manager').modal('hide');
      table.ajax.reload();
    });

    // ??
    $('#select').on( 'change', function() {
      const value = $("#contestFilter option:selected").val();

      addData.findBy = value;

      table.ajax.reload();
    });

    // 리스트 아이템 클릭
    $('#account tbody').on( 'click', 'tr', function() {

      $(this).toggleClass('selected');

      if ($('#account tbody tr.selected').length === 1) {
        $('#modify').removeClass("disabled");
      } else {
        $('#modify').addClass("disabled");
      }

      if ( $('#account tbody tr').hasClass('selected') ) {
        $('#delete').removeClass("disabled");
      }
      else {
        $('#delete').addClass("disabled");
      }
    });

    // 삭제버튼 클릭
    $('#delete').click( function() {

      const result = confirm(table.rows('.selected').data().length + "개의 계정을 삭제하시겠습니까?");

      let arr = [];
      $.each(table.rows('.selected').data(), function() {
        arr.push(this["userId"]);
      });

      const data = JSON.stringify({userId : arr});

      if(result) {

        $.ajax({
          url: '/alr20/admin/managerDelete',
          method: 'POST',
          data: data,
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function(res) {
            table.rows( '.selected' ).remove().draw(false);
            alert(res.message)
          },
          error: function(res) {
            alert(res.responseJSON.message);
          }
        });
      } else {
        $('#delete').addClass("disabled");
        table.rows( '.selected' ).nodes().to$().removeClass( 'selected' );
      }

      $('#delete').addClass("disabled");
      $('#modify').addClass("disabled");
    });



    // 수정 버튼 클릭
    $('#modify').click(function() {

      const data = table.rows('.selected:first').data()[0];

      $('#newUserPassword').attr('value', data["userPw"]); // <-- add
      $('#modifyUserId').attr('value', data["userId"]);
      $('#bordered-modify-manager').modal('show');
    });

    // 수정 제출
    $('#modifySubmit').click( function() {
      const contestRound = $('#modifyContestRound option:selected').val();
      let contestField = $('#modifyContestField option:selected').val();

      const userId = $('#modifyUserId').val();
      const newUserPassword = $('#newUserPassword').val();
      const checkUserPassword = $('#checkUserPassword').val();
      const newAllowedIpAddress = $('#newAllowedIpAddress').val();

      const data = {
        userId: userId,
        password: newUserPassword,
        passwordCheck: checkUserPassword,
        allowedIpAddress: newAllowedIpAddress
      };

      $.ajax({
        url: '/alr20/admin/managerModify',
        method: 'POST',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function(res) {
          alert(res.message);
          table.ajax.reload();
        },
        error: function(res) {
          alert(res.responseJSON.message);

          $('#bordered-modify-manager').modal('hide');
        }
      });

      $('form').each(function() {
        this.reset();
      });


      $('#bordered-modify-manager').modal('hide');
      $('#delete').addClass("disabled");
      $('#modify').addClass("disabled");
      table.ajax.reload();
    });

  } );

</script>

<style>
  .pagination {
    justify-content : center !important;
  }

  #select {
    float: right;
    margin-left: 1rem;
  }

  tr.selected td{
    background-color: #a6c9ff;
  }

  tr > td:last-of-type {
    text-align: center;
  }

  .btn-warning *{
    color: #fff;
  }

  .btn-warning.disabled, .btn-warning:disabled {
    background-color: #9d9c9c;
    border-color: #9d9c9c;
  }

</style>