<div class="modal fade" id="bordered-new-manager">
  <div class="modal modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">관리자 추가</h5>
      </div>

      <div class="modal-body">

        <form>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">아이디</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="userId">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">비밀번호</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="userPassword">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">비밀번호 확인</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirmUserPassword">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">IP 주소(IPv4)</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="allowedIpAddress">
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="reset">닫기</button>
          <button type="button" class="btn btn-primary" id="submit">저장</button>
        </div>

      </div>
    </div>
  </div>
</div>