<!--<div th:replace="admin/sideNav.html"></div>-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>관리자 비밀번호 변경</h1>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <form id="login-form">
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">아이디</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userId" th:value="${userId}" disabled>
        </div>
      </div>
<!--      <div class="row mb-3">-->
<!--        <label class="col-sm-2 col-form-label">기존 비밀번호</label>-->
<!--        <div class="col-sm-10">-->
<!--          <input type="password" class="form-control" id="userPassword" required>-->
<!--        </div>-->
<!--      </div>-->
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">새 비밀번호</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="newUserPassword" required>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">비밀번호 확인</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="checkUserPassword" required>
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="modifySubmit">저장</button>
<!--      <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="login(event)">저장</button>-->
    </form>
  </section>

</main><!-- End #main -->

<div th:replace="admin/footer.html"></div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

<script th:inline="javascript">
  $(document).ready(function() {

    // 수정 버튼 클릭
    $('#modify').click(function() {

      const data = table.rows('.selected:first').data()[0];

      $('#newUserPassword').attr('value', data["userPw"]); // <-- add
      $('#userId').attr('value', data["userId"]);
    });

    // 수정 제출
    $('#modifySubmit').click( function() {

      // const userId = $('#userId').val();
      const newUserPassword = $('#newUserPassword').val();
      const checkUserPassword = $('#checkUserPassword').val();

      let data = {
        changePassword : newUserPassword,
        changePasswordCheck : checkUserPassword,
      };

      $.ajax({
        url: '/alr20/admin/change/password',
        method: 'POST',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function(res) {
          alert(res.message);
          window.location.href = "/alr20/admin/main";
        },
        error: function(res) {
          alert(res.responseJSON.message);
        }
      });

      $('form').each(function() {
        this.reset();
      });
    });

  } );

</script>

<style>
  .pagination {
    justify-content : center !important;
  }

  #select {
    float: right;
    margin-left: 1rem;
  }

  tr.selected td{
    background-color: #a6c9ff;
  }

  tr > td:last-of-type {
    text-align: center;
  }

  .btn-warning *{
    color: #fff;
  }

  .btn-warning.disabled, .btn-warning:disabled {
    background-color: #9d9c9c;
    border-color: #9d9c9c;
  }

</style>