<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include/include-meta"/>
    <title>해커톤평가체계</title>
    <th:block th:include="common/include/include-link"/>
    <link rel="stylesheet" th:href="@{/css/judge/progress.css}">
</head>
<body>
    <header th:replace="common/layout/judge-header"></header>
    <input type="hidden" name="userId" th:value="${judgeUserId}"  id="userId" />
    <div class="progress-content-container">
        <div class="container pb-4">
            <p class="location mt-5">
                심사위원
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
                <span style="color: #004abf">심사진행현황</span>
            </p>
            <div th:if="${not #strings.isEmpty(invalidEvaluationTable)}" class="alert alert-danger d-flex align-items-center mt-5 col-md-6 mx-auto" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div th:text="${invalidEvaluationTable}"></div>
            </div>
            <div th:if="${#strings.isEmpty(invalidEvaluationTable)}" class="row mt-5 justify-content-center">
                <div class="col-sm-12 col-md-8">
                    <div style="display:inline-flex; align-items:flex-end">
                        <h5 class="h5">심사진행률</h5>
                        <button class="btn btn-success" type="button" style="margin-left:0.75rem" onclick="downloadExcel()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16" style="margin-bottom: 0.17rem">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                            </svg>
                            EXCEL
                        </button>
                    </div>
                    <div class="progress mt-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:style="'width:'+${progressValue}+'%;'" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" th:text="|${progressValue}%|">0%</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5">

                    <div class="row">
                        <div class="col-6">
                            <h5 class="h5">진행현황표</h5>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-2">
                                <input id="keyword" type="text" class="form-control" placeholder="팀명을 입력하세요.">
                                <button class="btn btn-info text-white" type="button" onclick="searchHandler()">검색</button>
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive rounded">
                        <table id="judgeTable" class="table table-hover">
                            <thead class="table-primary fw-bold">
                                <tr>
                                    <th scope="col" th:if="${judgeContestRound} == '본선'">발표순서</th>
                                    <th scope="col" th:if="${judgeContestRound} == '예선'">순번</th>
                                    <th scope="col">팀명</th>
                                    <th scope="col">
                                        <span style="cursor: pointer;"
                                              onclick="changeTotalScoreDirection(event)">
                                        점수
                                        <svg th:if="${judgeContestRound} == '예선'"  xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill align-baseline" viewBox="0 0 16 16"
                                            id="totalScore-direction-desc"
                                        >
                                            <a
                                            style="cursor: pointer;"
                                            >
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </a>
                                        </svg>
                                        <svg th:if="${judgeContestRound} == '예선'"  xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-up-fill align-baseline" viewBox="0 0 16 16"
                                            id="totalScore-direction-asc"
                                        >
                                            <a
                                            style="cursor: pointer;"
                                            >
                                                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                            </a>
                                        </svg>
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span style="cursor: pointer;"
                                              onclick="changeProgressStatusDirection(event)">
                                            진행상황
                                            <svg th:if="${judgeContestRound} == '예선'"  xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill align-baseline" viewBox="0 0 16 16"
                                                 id="progressStatus-direction-desc"
                                            >
                                                <a
                                                        style="cursor: pointer;"
                                                >
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                </a>
                                            </svg>
                                            <svg th:if="${judgeContestRound} == '예선'"  xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-up-fill align-baseline" viewBox="0 0 16 16"
                                                 id="progressStatus-direction-asc"
                                            >
                                                <a
                                                        style="cursor: pointer;"
                                                >
                                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                                </a>
                                            </svg>
                                        </span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="judgeProgressItem, index : ${judgeProgressItemPage.content}">
                                    <td scope="row" th:if="${judgeContestRound} == '예선'" th:text="${index.index + 1 + judgeProgressItemPage.getNumber()*10}">-</td>
                                    <td scope="row" th:if="${judgeContestRound} == '본선'" th:text="${judgeProgressItem.getEvaluationOrder()}">-</td>
                                    <td>
                                        <a th:href="|/alr20/judge/evaluation/${judgeProgressItem.getTeamId()}?page=1&sort=progressStatus,desc|" th:text="${judgeProgressItem.getTeamName()}" class="text-decoration-none">-</a>
                                    </td>
                                    <td th:text="${judgeProgressItem.getScore()}">-</td>
                                    <th:block th:switch="${judgeProgressItem.getProgressStatus.name()}">
                                        <td th:case="COMPLETE" class="text-success fw-bold">완료</td>
                                        <td th:case="INPROGRESS" class="text-warning fw-bold">진행중</td>
                                        <td th:case="INCOMPLETE" class="text-danger fw-bold">미완료</td>
                                    </th:block>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <ul class="pagination justify-content-center mt-4">
                    <li th:if="${judgeProgressItemPage.totalPages > 0}" class="page-item" onclick="goFirstPage()">
                        <a class="page-link" style="cursor: pointer;">처음</a>
                    </li>
                    <li th:if="${judgeProgressItemPage.totalPages > 0}" class="page-item" onclick="goPreviousPage()">
                        <a class="page-link" style="cursor: pointer;">이전</a>
                    </li>
                    <li th:if="${judgeProgressItemPage.totalPages > 0}" class="page-item"
                        th:each="pageNumber : ${pageNumbers}"
                        th:classappend="${pageNumber==judgeProgressItemPage.number + 1} ? active">
                        <a th:text="${pageNumber}"
                           class="page-link pe-auto page-check"
                           style="cursor: pointer;"
                           onclick="changePage(event)"
                        ></a>
                    </li>
                    <li th:if="${judgeProgressItemPage.totalPages > 0}" class="page-item" onclick="goNextPage()">
                        <a class="page-link" style="cursor: pointer;">다음</a>
                    </li>
                    <li th:if="${judgeProgressItemPage.totalPages > 0}" class="page-item" onclick="goLastPage()">
                        <a class="page-link" style="cursor: pointer;">끝</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer th:replace="common/layout/footer"></footer>
    <th:block th:include="common/include/include-script"/>
    <script th:src="@{/js/progress.js}"></script>
</body>
</html>