<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
  <div class="container" style="max-width: 1080px;">
    <span>
      <a th:href="@{/}" class="h-100">
        <img th:src="@{/img/header-icon.png}" alt="header-icon" width="37" height="37">
      </a>
    </span>
    <a class="navbar-brand fw-bold ms-2" th:href="@{/}">
      공군해커톤평가체계
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold align-items-center">
        <li class="nav-item mx-1">
          <a class="nav-link h-100 text-dark" th:href="@{/judge/confirm}">정보확인</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-dark" th:href="@{/judge/progress?page=1&sort=progressStatus,asc&sort=totalScore,desc}">심사진행현황</a>
        </li>
        <li class="nav-item mx-1">
          <div class="nav-link">
            <form th:action="@{/judge/logout}" type="POST">
              <input class="fw-bold p-0 btn btn-link text-decoration-none border-0 shadow-none" type="submit" value="로그아웃">
            </form>
          </div>
        </li>
        <li class="nav-item mx-1 text-muted">
          <a class="nav-link text-muted"
             th:text="|☎ ${T(mil.af.domain.enums.AdminDepartment).TEL.getContent()}|">
            ☎ 042-552-XXXX
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>