<div class="row mt-5 justify-content-center">
  <div class="col-sm-12 col-md-6 px-md-5">
    <div class="position-relative mb-4 pt-3">
      <label for="contest-field" class="mb-3 form-label-font">분야<span class="text-danger">*</span></label>
      <span id="contest-field-invalid-feedback" class="invalid-tooltip"></span>
      <select id="contest-field" name="contest-field" class="form-select form-select-md mb-3" aria-label="Default select example" data-toggle="tooltip" data-placement="bottom">
        <option th:each="fieldItem : ${T(mil.af.domain.enums.ContestField).values()}"
                th:value="${fieldItem}"
                th:text="${fieldItem.getKrName() + ' ' + fieldItem.getDescription()}"
                th:selected="${fieldItem.getKrName()} == ${applicationForm.getApplicationInfo().getContestField()}"></option>
      </select>
    </div>
    <div class="position-relative mb-4 pt-3">
      <label for="team-name" class="mb-3 form-label-font">팀명<span class="text-danger">*</span></label>
<!--      <span id="team-name-duplicate-feedback" class="invalid-feedback d-inline"></span>-->
      <input id="team-name" name="team-name" class="form-control form-control-md mb-3" type="text" placeholder="영문/한글/숫자 1자~20자"
             th:value="${applicationForm.getTeamInfo().getTeamName()}"} readonly disabled>
<!--      <span id="team-name-invalid-feedback" class="invalid-tooltip"></span>-->
    </div>



  </div>
  <div class="col-sm-12 col-md-6 px-md-5">
    <div class="position-relative mb-4 pt-3">
      <label for="user-id" class="mb-3 form-label-font">ID<span class="text-danger">*</span></label>
      <span id="user-id-duplicate-feedback" class="invalid-feedback d-inline"></span>
      <input id="user-id" name="user-id" class="form-control form-control-md mb-3" type="text" placeholder="영문/숫자 5자~15자"
             th:value="${applicationForm.getTeamInfo().getUserId()}" readonly disabled>
      <span id="user-id-invalid-feedback" class="invalid-tooltip"></span>
    </div>

    <div class="position-relative mb-4 pt-3">
      <label for="project-name" class="mb-3 form-label-font">프로젝트명<span class="text-danger">*</span></label>
      <input id="project-name" name="project-name" class="form-control form-control-md mb-3" type="text"
             th:value="${applicationForm.getApplicationInfo().getProjectName()}">
      <span id="project-name-invalid-feedback" class="invalid-tooltip"></span>
    </div>


  </div>
</div>
