<div class="row mt-5 justify-content-center">
    <div class="col-sm-12 col-md-12 px-md-5">
        <label class="mb-3 form-label-font">팀원정보<span class="text-danger">*</span></label>
        <span class="h6 text-primary">※ 팀원추가 : 체크 활성화 후 저장</span>
        <span class="h6 text-danger">※ 팀원삭제 : 체크 해제 후 저장</span>
        <div class="table-responsive">
            <table id="team-table" class="table table-responsive table-bordered">
                <thead class="table-light">
                <tr>
                    <th scope="col" class="team-th-seq">순번</th>
                    <th scope="col" class="team-th-rank">구분</th>
                    <th scope="col" class="team-th-rank-name">계급/직급</th>
                    <th scope="col" class="team-th-name">성명</th>
                    <th scope="col" class="team-th-birthday">생년월일</th>
                    <th scope="col" class="team-th-phone">전화번호</th>
                    <th scope="col" class="team-th-mail">메일</th>
                    <th scope="col" class="team-th-main-group">소속1</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="memberInfo, i : ${applicationForm.getTeamInfo().getMemberInfoList()}">
                    <th th:id="'member-sequence-' + ${i.index+1}" th:name="'member-sequence-' + ${i.index+1}" th:value="${i.index+1}" scope="row">
                        <span>
                            <input th:if="${i.index+1 == 1}" th:id="'member-check-i' + ${i.index+1}"  class="form-check-input mt-0" type="checkbox" disabled readonly checked th:value="${i.index+1}">
                            <input th:unless="${i.index+1 == 1}" th:id="'member-check-i' + ${i.index+1}"  class="form-check-input mt-0" type="checkbox" th:value="${i.index+1}" onclick="switchMemberInfoRow(event)" checked>
                        </span>
                        <span class="fw-bold text-primary" th:if="${i.index+1 == 1}">팀장<span class="text-danger">*</span></span>
                        <span class="fw-bold" th:unless="${i.index+1 == 1}">팀원</span>
                    </th>
                    <td>
                        <select th:id="'member-rank-' + ${i.index+1}" th:name="'member-rank-' + ${i.index+1}" class="form-select form-select-sm" aria-label="Default select example">
                            <option value="select">선택</option>
                            <option th:each="rankItem : ${T(mil.af.domain.enums.MemberRank).values()}"
                                    th:value="${rankItem}"
                                    th:text="${rankItem.getKrName()}"
                                    th:selected="${memberInfo.getRank()} == ${rankItem.getKrName()}"></option>
                        </select>
                    </td>
                    <td>
                        <input th:id="'member-rank-name-' + ${i.index+1}" th:name="'member-rank-name-' + ${i.index+1}" type="text" class="form-control form-control-sm" placeholder="계급/직급"
                               th:value="${memberInfo.getRankName()}">
                    </td>
                    <td>
                        <input th:id="'member-name-' + ${i.index+1}" th:name="'member-name-' + ${i.index+1}" type="text" class="form-control form-control-sm" placeholder="홍길동"
                               th:value="${memberInfo.getName()}">
                    </td>
                    <td>
                        <input th:id="'member-birthday-' + ${i.index+1}" th:name="'member-birthday-' + ${i.index+1}" type="date" class="form-control form-control-sm"
                               th:value="${memberInfo.getBirthday()}">
                    </td>
                    <td>
                        <input th:id="'member-phone-' + ${i.index+1}" th:name="'member-phone-' + ${i.index+1} " type="tel" class="form-control form-control-sm" placeholder="010-1234-5678"
                               th:value="${memberInfo.getPhone()}" oninput="addAutoHyphen(event)">
                    </td>
                    <td>
                        <input th:id="'member-mail-' + ${i.index+1}" th:name="'member-mail-' + ${i.index+1}" type="email" class="form-control form-control-sm" placeholder="example@email.com"
                               th:value="${memberInfo.getMail()}">
                    </td>
                    <td>
                        <input th:id="'member-main-group-' + ${i.index+1}" th:name="'member-main-group-' + ${i.index+1}" type="text" class="form-control form-control-sm" placeholder="부대/기관/학교"
                               th:value="${memberInfo.getMainGroup()}">
                    </td>
                </tr>
                <tr th:if="${applicationForm.getTeamInfo().getMemberInfoList().size() >= 1 && applicationForm.getTeamInfo().getMemberInfoList().size() <= 3}" th:each="i: ${#numbers.sequence(applicationForm.getTeamInfo().getMemberInfoList().size()+1, 4)}">
                    <th th:id="'member-sequence-' + ${i}" th:name="'member-sequence-' + ${i}" th:value="${i}" scope="row">
                        <span>
                            <input th:if="${i == 1}" th:id="'member-check-i' + ${i}"  class="form-check-input mt-0" type="checkbox" disabled readonly checked th:value="${i}">
                            <input th:unless="${i == 1}" th:id="'member-check-i' + ${i}"  class="form-check-input mt-0" type="checkbox" th:value="${i}" onclick="switchMemberInfoRow(event)">
                        </span>
                        <span class="fw-bold text-primary" th:if="${i == 1}">팀장<span class="text-danger">*</span></span>
                        <span class="fw-bold" th:unless="${i == 1}">팀원</span>
                    </th>
                    <td>
                        <select th:id="'member-rank-' + ${i}" th:name="'member-rank-' + ${i}" class="form-select form-select-sm" aria-label="Default select example" disabled readonly>
                            <option value="select">선택</option>
                            <option th:each="rankItem : ${T(mil.af.domain.enums.MemberRank).values()}"
                                    th:value="${rankItem}"
                                    th:text="${rankItem.getKrName()}"></option>
                        </select>
                    </td>
                    <td>
                        <input th:id="'member-rank-name-' + ${i}" th:name="'member-rank-name-' + ${i}" type="text" class="form-control form-control-sm" placeholder="계급/직급" disabled readonly>
                    </td>
                    <td>
                        <input th:id="'member-name-' + ${i}" th:name="'member-name-' + ${i}" type="text" class="form-control form-control-sm" placeholder="홍길동" disabled readonly>
                    </td>
                    <td>
                        <input th:id="'member-birthday-' + ${i}" th:name="'member-birthday-' + ${i}" type="date" class="form-control form-control-sm" disabled readonly>
                    </td>
                    <td>
                        <input th:id="'member-phone-' + ${i}" th:name="'member-phone-' + ${i} " type="tel" class="form-control form-control-sm" placeholder="010-1234-5678" oninput="addAutoHyphen(event)" disabled readonly>
                    </td>
                    <td>
                        <input th:id="'member-mail-' + ${i}" th:name="'member-mail-' + ${i}" type="email" class="form-control form-control-sm" placeholder="example@email.com" disabled readonly>
                    </td>
                    <td>
                        <input th:id="'member-main-group-' + ${i}" th:name="'member-main-group-' + ${i}" type="text" class="form-control form-control-sm" placeholder="부대/기관/학교" disabled readonly>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
