<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="keyword" content="해커톤 평가체계, 공군해커톤">
  <meta name="description" content="해커톤 평가체계">
  <meta name="author" content="mil.af">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>해커톤평가체계</title>
  <th:block th:include="common/include/include-link"/>
  <link th:href="@{/css/admin/login.css}" rel="stylesheet">
</head>

<body>

      <main class="form-signin">
        <div id="logo">
          <img id="logo-icon" th:src="@{/img/header-icon.png}" alt="header-icon">
          <h1>공군 창의·혁신 아이디어 공모 해커톤 </h1>
        </div>

        <form id="login-form">
          <div class="form-floating">
            <input type="text" name="userId" class="form-control" id="floatingInput" placeholder="아이디">
            <label for="floatingInput">총관리자 아이디</label>
          </div>

          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="비밀번호">
            <label for="floatingPassword">비밀번호</label>
          </div>
          <p id="login-failure-message" class="m-0 pt-2 text-danger d-none">ID 또는 비밀번호가 일치하지 않습니다.</p>
          <br>
          <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="login(event)">로그인</button>
        </form>
      </main>
      <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
      <script th:src="@{/js/admin/login.js}"></script>
  </body>
</html>