<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="common/include/include-meta"/>
  <title>해커톤평가체계</title>
  <th:block th:include="common/include/include-link"/>
</head>
<body>
<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center px-4">
  <h1 class="fs-1">NOTICE</h1>
  <p class="mt-5 fw-bold">공군해커톤평가체계는 크롬브라우저에 최적화 되어있습니다.</p>
  <p class="mt-3 fw-bold">크롬브라우저 설치 후 이용하시기 바랍니다.</p>

  <a href="https://www.google.co.kr/intl/ko/chrome/" class="mt-5 text-dark text-decoration-none border border-4 py-3 px-4 border-dark fw-bold mb-4">크롬설치 바로가기</a>
</div>
<th:block th:include="common/include/include-script"/>
</body>
</html>