<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="/common/include/include-meta"/>
  <title>해커톤평가체계</title>
  <th:block th:include="/common/include/include-link"/>
</head>
<body>
<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center px-4">
  <h1 class="fs-1">NOTICE</h1>
  <p class="mt-5 fw-bold">중복로그인</p>
  <input id="login-type" type="hidden" th:value="${type}">
  <script>
    alert("다른 곳에서 로그인이 되어있어 중복로그인 방지를 위해\n로그아웃 처리 되었습니다.");
    const type = document.getElementById('login-type').value;
    switch (type) {
      case 'participant':
        window.location.href = '/alr20/';
        break;
      case 'judge':
        window.location.href = '/alr20/judge/login';
        break;
      case 'admin':
        window.location.href = '/alr20/admin';
        break;
      default:
        window.location.href = '/alr20/';
        break;
    }
  </script>
</div>
<th:block th:include="/common/include/include-script"/>
</body>
</html>